@model API_Inventaire.Models.users

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isenabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isenabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
